# System
.DS_Store

# Swift
.build
.cache
.swiftpm
/Packages
/*.xcodeproj
xcuserdata

# Python
*.pyc
.idea
.cache
__pycache__
.pytest_cache
venv
.python-version
.mypy_cache
.coverage

# Utility
*.ignored*
