.DS_Store

auxiliary/dd
auxiliary/tempfolder

test-results/

*.ignored*
*.pyc
.idea/
.cache/
__pycache__/

xcuserdata
xcuserdata/
*.xccheckout
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
*.orig
IDEWorkspaceChecks.plist
