.DS_Store

dd/
Build/
Index/

*.ignored*
*.pyc
.idea/
.cache/
__pycache__/

xcuserdata
xcuserdata/
*.xccheckout
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
*.orig
IDEWorkspaceChecks.plist
DerivedData/

test-results
